  <button  class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          routerLink="hello-word">
    <mat-icon>waving_hand</mat-icon>
    <span>Hello Word!</span>
  </button>
  <button mat-menu-item
          routerLink="todo">
    <mat-icon>format_list_bulleted</mat-icon>
    <span>Todo</span>
  </button>
  <button mat-menu-item
          routerLink="button">
    <mat-icon>splitscreen</mat-icon>
    <span>Rozrywany przycisk</span>
  </button>
  <button mat-menu-item
          routerLink="redux">
    <mat-icon>save</mat-icon>
    <span>Próbka redux'a</span>
  </button>
  <button mat-menu-item
          routerLink="weather">
    <mat-icon>wb_sunny</mat-icon>
    <span>Prognoza pogody</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
