  <button  class="menuButton" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          routerLink="hello-word">
    <mat-icon>waving_hand</mat-icon>
    <span>Hello Word!</span>
  </button>
  <button mat-menu-item
          routerLink="todo">
    <mat-icon>format_list_bulleted</mat-icon>
    <span>todo</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
