<div class="crack-button" #button (click)="crackMe()" title="Kliknij mnie">
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu tellus sit amet mi imperdiet suscipit. Aenean at luctus sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque non interdum quam. Vivamus posuere, metus at sodales congue, eros velit dignissim massa, et suscipit quam odio non mauris. Cras a ullamcorper ex, non tincidunt odio. Pellentesque eu lectus ipsum. Integer laoreet ultrices pulvinar. Curabitur non magna sit amet elit ultricies pretium non sed quam. Morbi nec convallis ipsum, a hendrerit nunc. Mauris pretium, elit ut rutrum vehicula, leo lorem gravida lectus, vitae vehicula leo augue vitae ex. Nunc diam dui, lobortis quis condimentum at, congue non dolor.
    </p>
    <p>
      Nulla congue sem augue, id lacinia neque rhoncus a. In commodo ut orci vitae sodales. Sed gravida pharetra magna sit amet pellentesque. Vivamus eu vestibulum eros, a mollis leo. Nulla eu orci vel lacus ullamcorper bibendum sed quis nunc. Sed sed arcu lacus. Duis eu aliquam erat, eu lacinia diam. Nullam id venenatis nisi. Morbi gravida ante in elementum hendrerit. Nulla eu lorem ut dolor egestas scelerisque nec et turpis. Mauris neque tellus, maximus sed neque id, varius venenatis mi.
    </p>
  </div>
</div>
